div.list-tasks {
    margin-botton: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 20px !important;
}

div.task-form {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}

div.task-form > button {
    margin-top: 5px;
}
