{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
<div id="root">
    <div class="list-tasks">
        <h2>Completed Tasks</h2>
        <div id="completedTasks"></div>
    </div>
    <div class="list-tasks">
        <h2>Pending Tasks</h2>
        <div id="pendingTasks"></div>
    </div>
    <div class="task-form">
        <input type="text" id="taskText" class="list-group-item list-group-item-action form-control" placeholder="New Task">
        <button type="button" id="taskCreateBtn" class="btn btn-primary" onClick="newTask()">Create Task</button>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/babel" src="assets/js/tasks.js"></script>
{% endblock %}
